footer{
	background-color: #3CA23A;
}

footer p{
	text-align: center;
	color: white;
	font-family: "DIN Pro";
	margin-bottom: 20px;
}

footer #login{
	line-height: normal;
}

footer #login a{
	color: white;
}

footer #login a:visited{
	color: white;
}

#main_wrapper{
	margin-bottom: 20px;
}