@font-face {
	font-family: 'DIN Pro';
	font-style: normal;
	font-weight: normal;
	src: local('DIN Pro Condensed Black'), url('../fonts/DINPro-CondBlack.woff') format('woff');
}

@font-face {
	font-family: 'Quattrocento';
	font-style: normal;
	font-weight: normal;
	src: local('Quattrocento'), url('../fonts/Quattrocento.woff2') format('woff2');
}

*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("../images/leaves.png");
	background-size: 100px;
	background-attachment: fixed;
}

#main_wrapper{
	width: 50%;
	height: 100%;
	margin: auto;
	background-color: #fff;

	box-shadow: 3px 3px 3px grey;
}

#page{
	display: flex;
	overflow: hidden;
}

#page article{
	padding: 0 20px;
	font-family: "Quattrocento";
}

#page article h2{
	margin-bottom: 15px;
}

.title{
	font-family: "DIN Pro";
	font-size: 2em;
	margin: 20px 0;
}

#page article img{
	margin: 20px 10px;
}

#page aside img{
	min-width: 221px;
	margin: 20px 20px;
	border-radius: 5px;
}

#admin{
	width: 200px;
	padding: 20px;
	text-align: center;
	float: right;
    position: relative;
    top: -1650px;
	right: 20px;
	background: rgba(255,255,255,0.8);
	border: 2px solid black;
	border-radius: 5px;
}

#admin p img{
	width: 50px;
}

#admin p{
	font-family: "DIN Pro";
}

#admin p a{
	overflow: auto;
	color: black;
	text-decoration: none;
}

#admin p a:visited{
	color: black;
}

/*Mobile and tablet*/
@media (min-width: 0px) and (max-width: 1024px) {

 	#main_wrapper{
		width: 100%;
	}

	#page{
		box-shadow: none;
	}

}

/*Laptop and low resolution*/
@media (min-width: 1024px) and (max-width: 1500px){

	#main_wrapper{
		width: 75%;
	}

}